
/* .alert-box{
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    display: none;
} */

.alert-box{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    position: relative;
}

.close{
    color: white;
    background: none;
    font-size: 20px;
    border: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#red{
    background-color: crimson;
    display: none;
}

#gold{
    background-color: gold;
}

#blue{
    background-color: dodgerblue;
}

.add{
    margin: 20px;
}

.login{
    margin: 20px;
}

#id-box{
    padding: 20px;
    background-color: forestgreen;
    border-radius: 10px;
    display: none;
}

.id-btn, .pw-btn{
    margin-top: 10px;
}









