

.button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    display: block;
    margin: 50px auto;
}

.button:hover{
    animation-name: shake;
    animation-duration: 0.5s;
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(-15deg);
    }

    50%{
        transform: rotate(15deg);
    }

    75%{
        transform: rotate(-15deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.cross{
    width: 50px;
    margin: 50px auto;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    transform-origin: center center;
}

.cross:hover{
    animation-name: plus;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes plus{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(-30deg);
    }

    100%{
        transform: rotate(45deg) scale(1.5);
    }

}


.menu{
    width: 300px;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    position: fixed;
    text-align: right;
    transform: translateX(-65%);
    transition: all 0.8s;

    .title{
        margin-bottom: 20px;
    }

    .list{
        text-align: center;
        cursor: pointer;
    }
}




.menu:hover{
    transform: translateX(0);
    text-align: center;
}

.menu:hover p{
    animation-name: skrr;
    animation-duration: 1s;
}



@keyframes skrr{
    0%{
        transform: translateX(-150px);
    }

    50%{
        transform: translateX(30px) skewX(-30deg);
    }

    100%{
        transform: translateX(0);
    }


}


















