
body{
    background-color: #f7f9fc;
}

.white-box{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.pill{
    border: solid 1px #666;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
}

input[type=file]::-webkit-file-upload-button{
    background-color: cornflowerblue;
    border: none;
}

progress{
    appearance: none;
}

progress::-webkit-progress-bar{
    background: skyblue;
    border-radius: 10px;
}

progress::-webkit-progress-value{
    background: cornflowerblue;
    border-radius: 100%;
}






































































