
body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 80%);
}

div{
    text-decoration: none;
    box-sizing: border-box;
}

div.form-box{
    width: 50%;
    height: 80%;
    min-width: 400px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

h3{
    font-size: 28px;
    margin: 0;
    margin-bottom: 30px;
}

h4{
    font-size: 16px;
    font-weight: normal;
    color: rgb(73, 73, 73);
    margin: 0;
    margin-bottom: 5px;
}

div.form-box input{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    box-sizing: border-box;
}

div.name{
    width: 100%;
}

div.name div{
    width: 45%;
}

div.first-name{
    float: left;
}

div.last-name{
    float: right;
}

div.message{
    clear: both;
}

div.message input{
    height: 100px;
}

div.subscribe{
    width: 100%;
    height: 100%;
}

div.subscribe input.check{
    width: auto;
    height: auto;
    float: left;
}



div.checkbox input{
    margin: 0;
}

div.checkbox{
    line-height: 35px;
}

div.subscribe input.send{
    width: 80px;
    float: right;
    margin: 0;
}
























