
body{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    
}

div{
    box-sizing: border-box;
}



div.main-background{
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    /* background-image: url('../image/shoes.jpg'); */
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url('../image/shoes.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    /* filter: opacity(70%); */
    padding: 1px;
    /* position: relative; */
    box-sizing: border-box;
}

h4.main-title{
    color: white;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 50px;
}

p.main-text{
    color: rgba(255, 255, 255, 0.795);
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    line-height: 30px;
}

button{
    margin-left: 50px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

div.float-box{
    width: 80%;
    max-width: 600px;
    background-color: antiquewhite;
    padding: 20px;
    text-align: justify;
    /* position: absolute; */
    position: relative;
    top: -50px;
    /* left: 50%;
    transform: translateX(-50%); */
    /* left: 0px;
    right: 0px; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    /* z-index: -1; */
    box-sizing: border-box;
}
















