

.container{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1fr 1fr;

    >div{
        border: 1px solid black;
    }

    .search-box{
        grid-column: 1/3;
        height: 80px;

        .search-bar{
            float: left;

            form.search{
                float: left;

                

            }
            

        }

        .personal{
            float: right;
        }

    }

    .dashboard{
        grid-column: 1/3;
        height: 300px;
    }

    .earnings{
        height: 500px;
    }




}



























