
$main-color: gold;
$sub-color: crimson;
$font-size: 16px;

%btn-size{
    width: 200px;
    height: 200px;
    padding: 20px;
}

// %class는 임시이므로 저장되지않는다
// 따라서 단독으로 컴파일되지 않음
// 그리고 .class도 @extend 가능

.btn-green{
    @extend %btn-size;
    background-color: greenyellow;
}

.btn-red{
    @extend %btn-size;
    background-color: red;
}

.btn-blue{
    @extend %btn-size;
    background-color: cornflowerblue;
}


body{
    background-color: $main-color;
    font-size: ($font-size * 2);

    p{
        font-size: $font-size;
    }
}



.box{
    background-color: $sub-color;
}




































