
// .main-bg h4{
//     font-size: 16px;
// }

// .main-bg button{
//     color: crimson;
// }

// .main-bg{

//     width: 100px;

//     h4{
//         font-size: 16px;
//     }

//     button{
//         color: crimson;
//     }
// }

%btn{
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
}

.btn-green{
    @extend %btn;
    background-color: greenyellow;
}

.btn-red{
    @extend %btn;
    background-color: crimson;
}

.btn-blue{
    @extend %btn;
    background-color: cornflowerblue;
}


$main-color: #333;
$sub-color: rgb(30, 158, 180);
$font-size: 24px;
$font-color: white;

body{
    background-color: $main-color;
    font-size: ($font-size * 5);
    color: $font-color;
}

.box{
    background-color: $sub-color;
    font-size: ($font-size - 10px);
    color: $font-color;
}


































